<app-header></app-header>

<div class="p-3 container">


  <ng-container *ngIf="lang == 'ar'">
    <h1 class="w3-center">
      : سياسة الخصوصية لتطبيق رقم (raqm.online)
    </h1>

    <p class="c0" dir="rtl"><span class="c3">تاريخ النشر: 01/09/2023</span></p>
    <p class="c1" dir="rtl"><span class="c7">1. جمع المعلومات:</span></p>
    <p class="c0" dir="rtl"><span class="c3">نحن في مشروع raqm.online نحترم خصوصية المعلومات الشخصية لزوارنا ومستخدمي
        خدماتنا. قد نجمع المعلومات التالية:</span></p>
    <ul class="c6 lst-kix_bloqcq6b7byl-0 start">
      <li class="c0 c2 li-bullet-0" dir="rtl"><span class="c8">معلومات غير معرَّفة بالشخصية:</span><span
          class="c3">&nbsp;يمكننا جمع معلومات غير معرَّفة بالشخصية حول زيارتك لموقعنا، مثل عنوان البريد الإلكتروني، نوع
          المتصفح، ونوع الجهاز.</span></li>
      <li class="c0 c2 li-bullet-0" dir="rtl"><span class="c8">معلومات الاتصال:</span><span class="c3">&nbsp;إذا اتصلت
          بنا
          عبر البريد الإلكتروني أو نموذج الاتصال على الموقع، قد نجمع معلوماتك الشخصية مثل اسمك وعنوان بريدك الإلكتروني
          ومعلومات الاتصال الأخرى التي تقدمها.</span></li>
      <li class="c0 c2 li-bullet-0" dir="rtl"><span class="c8">معلومات البحث:</span><span class="c3">&nbsp;عند استخدامك
          لخدمات البحث على الموقع، قد نحتفظ بسجلات عن استفسارات البحث التي تقوم بها والنتائج التي تعرضها لك.</span></li>
    </ul>
    <p class="c0" dir="rtl"><span class="c7">2. استخدام المعلومات:</span></p>
    <p class="c0" dir="rtl"><span class="c3">نحن نستخدم المعلومات التي نجمعها للأغراض التالية:</span></p>
    <ul class="c6 lst-kix_f59k66fvsd08-0 start">
      <li class="c0 c2 li-bullet-0" dir="rtl"><span class="c3">تحسين خدماتنا: نستخدم المعلومات لتحليل كيفية استخدام
          المستخدمين للموقع وتحسين تجربتهم.</span></li>
      <li class="c0 c2 li-bullet-0" dir="rtl"><span class="c3">الاتصال بك: نستخدم معلومات الاتصال للرد على استفساراتك
          وتقديم المساعدة عند الحاجة.</span></li>
      <li class="c0 c2 li-bullet-0" dir="rtl"><span class="c3">تخصيص الإعلانات: قد نستخدم معلومات غير معرَّفة بالشخصية
          لعرض إعلانات مستهدفة بناءً على اهتماماتك.</span></li>
    </ul>
    <p class="c0" dir="rtl"><span class="c7">3. مشاركة المعلومات:</span></p>
    <p class="c0" dir="rtl"><span class="c3">نحن لا نبيع أو نشارك معلوماتك الشخصية مع أطراف خارجية ما لم نحصل على
        موافقتك
        الصريحة لفعل ذلك أو إلا إذا كان ذلك مطلوبًا بموجب القانون.</span></p>
    <p class="c0" dir="rtl"><span class="c7">4. الأمان:</span></p>
    <p class="c0" dir="rtl"><span class="c3">نحن نتخذ إجراءات أمان مناسبة لحماية معلوماتك من الوصول غير المصرح به
        والاستخدام غير المصرح به أو الكشف عنه. ومع ذلك، لا يمكننا ضمان أمان مطلق.</span></p>
    <p class="c0" dir="rtl"><span class="c7">5. تغييرات على سياسة الخصوصية:</span></p>
    <p class="c0" dir="rtl"><span class="c3">نحتفظ بالحق في تحديث أو تعديل سياسة الخصوصية هذه من وقت لآخر. سنقوم بنشر أي
        تغييرات على هذه الصفحة، لذا يُفضل مراجعة هذه الصفحة بشكل دوري لمعرفة أحدث التحديثات.</span></p>
    <p class="c0" dir="rtl"><span class="c7">6. اتصال:</span></p>
    <p class="c0" dir="rtl"><span class="c3">إذا كان لديك أي استفسار حول سياسة الخصوصية الخاصة بنا أو معالجة المعلومات
        الشخصية، يُرجى التواصل معنا عبر وتس على: +9647762327149].</span></p>
    <p class="c0" dir="rtl"><span class="c3">شكرًا لاستخدامك raqm.online. نحن نقدر ثقتك بنا ونسعى دائمًا لحماية خصوصيتك
        ومعلوماتك الشخصية.</span></p>

  </ng-container>



  <ng-container *ngIf="lang == 'en'">
    <pre>
    Privacy policy for (raqm.online)
    Publication date: 09/01/2023

    1. Collect information:

    We at the raqm.online project respect the privacy of the personal information of our visitors and users of our services.
    We may collect the following information:

    Non-personally identifiable information: We may collect non-personally identifiable information about your visit to our
    site, such as email address, browser type, and device type.
    Contact Information: If you contact us via email or the contact form on the Site, we may collect your personal
    information such as your name, email address and other contact information you provide.
    Search Information: When you use search services on the Site, we may keep records of the search queries you make and the
    results they display to you.
    2. Use of information:

    We use the information we collect for the following purposes:

    Improving our services: We use information to analyze how users use the site and improve their experience.
    Contacting You: We use contact information to respond to your inquiries and provide assistance when needed.
    Ad Personalization: We may use non-personally identifiable information to show you targeted ads based on your interests.
    3. Sharing information:

    We do not sell or share your personal information with outside parties unless we have your express consent to do so or
    unless required by law.

    4. Security:

    We take appropriate security measures to protect your information from unauthorized access and unauthorized use or
    disclosure. However, we cannot guarantee absolute security.

    5. Changes to the Privacy Policy:

    We reserve the right to update or modify this Privacy Policy from time to time. We will post any changes on this page,
    so it is best to check this page periodically for the latest updates.

    6. Connection:

    If you have any questions about our privacy policy or processing of personal information, please contact us by whatsapp at:
    [+9647762327149].

    Thank you for using raqm.online. We value your trust in us and always strive to protect your privacy and personal
    information.

        </pre>
  </ng-container>

</div>

<app-bottom-nav></app-bottom-nav>