<app-header></app-header>

<div class="container">
  <br>
  <br>
  <div class="modal-sm w3-modal-content m-auto">

    <div class="">
      <div class="p-1">
        <div id="form" class="p-3 mb-4 m-auto">
          <h1 class="text-primary text-center">
            {{'Reset Password' | trans}}
          </h1>
          <br>

          <div class="form-group mb-2">
            <b>{{'verification_key' | trans}}</b>
            <input type="text" [(ngModel)]="data.verification_key" placeholder="####"
              class="form-control form-control-lg">
          </div>
          <div class="form-group">
            <b>{{'New Password' | trans}}</b>
            <input type="password" [(ngModel)]="data.password" placeholder="" class="form-control form-control-lg">
          </div>


          <div class="w3-block mt-3">
            <button (click)="resetPassword()" [disabled]="isLoading"
              class="p-3 btn btn-lg bg-primary w3-block w3-text-white mb-3">
              <span *ngIf="isLoading">
                <i class="fa fa-spin fa-spinner"></i>
              </span>
              <span *ngIf="!isLoading">{{ 'send_email' | trans }}</span>

            </button>
          </div>
        </div>
      </div>

    </div>

  </div><br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<app-bottom-nav></app-bottom-nav>