<app-header></app-header>

<div class="container">
  <br>
  <br>
  <div class="modal-sm w3-modal-content m-auto">

    <div class="text-center">
      <h1 class="text-primary">
        {{'Confirm your email' | trans}}
      </h1>
      <br>
      <div class="p-1">
        <div id="form" class="p-3 mb-4">
          <b>{{'phone' | trans}}</b>
          <input type="phone" [(ngModel)]="data.email" placeholder="96400000000" class="form-control form-control-lg">
          <p class="w3-text-yellow">
            <b>{{ 'whatsapp_info_text' | trans }} Ex.96400000000</b>
          </p>


          <div class="w3-block mt-3 p-4">
            <button (click)="forgetPassword()" [disabled]="isLoading"
              class="p-3 btn btn-lg bg-primary w3-block w3-text-white mb-3">
              <span *ngIf="isLoading">
                <i class="fa fa-spin fa-spinner"></i>
              </span>
              <span *ngIf="!isLoading">{{ 'send_verify_code' | trans }}</span>
            </button>
          </div>
        </div>
      </div>

    </div>

  </div><br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<app-bottom-nav></app-bottom-nav>